@charset 'UTF-8';

.personal{
	background: url(“/fileadmin/_processed_/2/9/csm_Klusmann__Brian_34_2e98257329.jpg”);
}

.personal:hover {
	cursor: pointer;
	opacity: 0.2;
	background: url('/fileadmin/_processed_/7/8/csm_Meins-Becker__Anica_34_10b5c22f93.jpg');
}

